<section>
    <figure class="text-center py-12">
        <img class="inline-block" src="twitch.svg" alt="logo of social twitch">
    </figure>
    <div class="flex md:gap-6 flex-wrap">
        <div class="border-y-2 border-coffe200  text-center flex-[1_1_250px] h-48 grid place-items-center">
            <p class="max-w-52 text-lg">PRESENTACIÓN, PASAJE, ENTREVISTA Y CARA A CARA</p>
        </div>
        <div class="md:border-y-2 border-coffe200  text-center flex-[1_1_250px] h-48 grid place-items-center">
            <a class="text-2xl font-semibold max-w-44 transition hover:text-purple-800" href="#">SIGUELO EN DIRECTO TWITCH.TV/IBAI</a>
        </div>
        <div class="border-y-2 border-coffe200  text-center flex-[1_1_250px] h-48 grid place-items-center">
            <p class="max-w-52 text-lg">CON LA PRESENTACIÓN DE BOXEADORES Y BOXEADORAS</p>
        </div>
    </div>
</section>