<header class="flex flex-col text-center md:h-28 md:flex-row md:justify-between md:items-center md:border-y-2 md:border-y-coffe200 ">
  <p class="border-y-2 md:border-y-0 border-y-coffe200 py-8 md:py-0">
    <span>@2024 La Velada del Año </span> 
    <span class="hidden md:inline">|</span> 
    <span class="block md:inline">Todos los derechos reservados</span> 
  </p>
  <nav class="flex items-center gap-5 justify-center py-8 md:py-0">
    <a href="#" class="social__link transition hover:scale-110 " title="follow us in instagram">
      <img src="instagram.svg" alt="icon of instagram" />
    </a>
    <a href="#" class="social__link transition hover:scale-110" title="follow us in X">
      <img src="x.svg" alt="icon of X" />
    </a>
  </nav>
</header>
