
<header class="py-20">
    <span class="bg-coffe200 text-white uppercase w-max mx-auto block mb-6 px-2.5 py-1.5 tracking-[.125rem]">presentacion de la </span>
    <figure class="w-[90%] max-w-lg mx-auto">
        <img class="w-full" src="hero-logo.svg" alt="image of hero">
    </figure>
</header>