<section class="text-center py-10">
    <h2 class="font-semibold text-3xl">
        <span>4 DE MARZO</span> 
        <span class="hidden md:inline">·</span> 
        <span class="block md:inline">19:00H CET</span>
    </h2>
    <p class="my-5 text-lg font-medium">EVENTO PRESENTACIÓN <br> TEATRO VICTORIA (BARCELONA)</p>
    <a class=" inline-block transition-colors hover:bg-coffe200 hover:text-coffe100 md:text-lg font-semibold py-2 px-4 border-2 border-coffe200"  href="#" title="redirec to page for inscription">ENTRADAS AGOTADAS</a>
</section>