<section class="py-28">
    <figure class="text-center">
        <img class="inline-block w-[40%] max-w-48 fill-current" src="logo.svg" alt="logo of social x">
    </figure>
    <div class="flex items-center justify-center mt-8 gap-2 md:gap-3 text-center">
        <div>
            <span class="font-semibold text-4xl">12</span>
            <p class="text-sm hidden md:block">DIAS</p>
        </div>
        <span class="font-semibold text-2xl">:</span>
        <div>
            <span class="font-semibold text-4xl">01</span>
            <p class="text-sm hidden md:block">HORAS</p>
        </div>
        <span class="font-semibold text-2xl">:</span>
        <div>
            <span class="font-semibold text-4xl">45</span>
            <p class="text-sm hidden md:block">MINUTOS</p>
        </div>
        <span class="font-semibold text-2xl">:</span>
        <div>
            <span class="font-semibold text-4xl">37</span>
            <p class="text-sm hidden md:block">SEGUNDOS</p>
        </div>
    </div>
</section>